{% extends "display.html" %}
{% block content %}
    <h1 style="color:DodgerBlue; text-decoration: underline;" class="DetailHead">Details</h1>
    <ul>
    <li>Time of observation (<b>minutes</b>): {{Time}}</li>
    <li>Light time wasted: {{Ltime}}</li>
    <li>Heater time wasted: {{Htime}}</li>
    <li>AC time wasted: {{ACtime}}</li>
    <li>Avg time spent in room at a stretch: {{A_U_T}}</li>
    <li>Times you leave the room: {{Lcount}}</li>
    <li><b>Approx Light energy wasted (kWh):</b> {{LEne}}</li>
    <li><b>Approx Heater energy wasted (kWh):</b> {{HEne}}</li>
    <li><b>Approx AC energy wasted (kWh):</b> {{ACEne}}</li>
    </ul>
{% endblock %}
